/project/packages
/project/Bll/obj
/project/Bll/bin
/project/Dal/obj
/project/Dal/bin
/project/Entity/obj
/project/Entity/bin
/project/Infrastructure/obj
/project/Infrastructure/bin
/project/UI/obj
/project/UI/bin
/project/UI/Log
